/** @format */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
  height: 100%;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: #1eb954;
  text-align: center;
  padding: 2.5px 5.5px 2.5px 5.5px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  transition: all 0.5s ease-in-out;
}

#text {
  color: red;
}

.divergence {
  font-size: 14px;
  fill: white;
}

.range {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  width: 400px;
  margin-top: 10px;
}

.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
  border-color: rgb(255, 53, 127);
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

.h6 {
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h5 {
  background: rgb(144, 17, 254);
  background: radial-gradient(
    circle,
    rgba(144, 17, 254, 1) 13%,
    rgba(252, 70, 107, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h4 {
  background: rgb(255, 194, 9);
  background: radial-gradient(
    circle,
    rgba(255, 194, 9, 1) 24%,
    rgba(252, 70, 107, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h3 {
  background: rgb(0, 204, 153);
  background: radial-gradient(
    circle,
    rgba(0, 204, 153, 1) 24%,
    rgba(70, 179, 252, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h2 {
  background: rgb(255, 0, 0);
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 19%,
    rgba(252, 70, 231, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h1 {
  background: rgb(85, 119, 252);
  background: radial-gradient(
    circle,
    rgba(85, 119, 252, 1) 19%,
    rgba(73, 254, 214, 1) 96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h0 {
  background: linear-gradient(to right, #ffbf02, #ed0082);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red {
  background-color: red;
}
